/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --body-bg-color:                #181717;
  --white-color:                  #ffffff;
  --primary-color:                #E07A5F;
  --secondary-color:              #F2CC8F;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #E07A5F;
  --custom-btn-bg-hover-color:    #F2CC8F;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --link-hover-color:             #F2CC8F;

  --body-font-family:             'Poppins', sans-serif;
  --heading-font-family:          'Unbounded', sans-serif;

  --h1-font-size:                 62px;
  --h2-font-size:                 36px;
  --h3-font-size:                 28px;
  --h4-font-size:                 24px;
  --h5-font-size:                 22px;
  --h6-font-size:                 20px;
  --p-font-size:                  18px;
  --menu-font-size:               16px;
  --btn-font-size:                14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-bold:             700;
}

body {
  background-color: var(--body-bg-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-medium);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-bg {
  background-color: var(--section-bg-color);
}

.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.page-404-title {
  color: var(--primary-color);
  font-size: 100px;
}

.page-404-title + h3 {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 6px 18px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}

.custom-border-btn:hover {
  background: var(--secondary-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-group .link {
  color: var(--white-color);
  font-weight: var(--font-weight-medium);
}

.custom-btn-group .link:hover {
  color: var(--link-hover-color);
}

/*---------------------------------------
  SITE HEADER        
-----------------------------------------*/
.site-header {
  position: absolute;
  z-index: 22;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-header .container {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: var(--border-radius-large);
  padding: 15px 25px;
  max-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: fit-content;
  margin: 0 auto;
}

.site-header-text {
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  margin-left: 10px;
  margin-right: 50px;
}

.site-header .social-icon {
  max-height: 35px;
}

.container {
  padding-left: 0; /* Remove o padding esquerdo do contêiner */
}

.offcanvas {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 30px;
}

.offcanvas.offcanvas-end {
  border-left: 0;
}

.offcanvas-header .btn-close {
  filter: brightness(0) invert(1);
  transition: all 0.3s;
}

.offcanvas-header .btn-close:hover {
  transform: rotate(180deg);
}

.offcanvas-icon {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  margin-left: 15px;
}

.offcanvas nav ul {
  margin: 0;
  padding: 0;
}

.offcanvas nav ul li {
  list-style: none;
  display: block;
}

.offcanvas nav ul li a {
  color: var(--white-color);
  font-family: var(--heading-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.offcanvas nav ul li a:hover,
.offcanvas nav ul li a.active {
  color: var(--link-hover-color);
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 675px;
  padding-top: 200px;
  padding-bottom: 100px;
}

.hero-bg {
  background-image: url('../images/people-practicing-social-integration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-bg::after {
  content: "";
  background: linear-gradient(to top, var(--dark-color), transparent 200%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero-bg .container {
  position: relative;
  z-index: 2;
}

.hero-section small {
  color: var(--primary-color);
  display: block;
  font-size: var(--btn-font-size);
  font-style: italic;
  position: relative;
  padding-left: 75px;
}

.hero-section small::before {
  content: "";
  background-color: var(--white-color);
  width: 50px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translate(-50%, 0);
}

.video-wrap {
  position: fixed; /* Fixa o vídeo no fundo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca o vídeo atrás de outros elementos */
  overflow: hidden;
}

.custom-video {
  object-fit: cover; /* Garante que o vídeo cubra toda a tela */
  width: 100%;
  height: 100%;
}

.hero-title {
  color: #ffffff; /* Cor do texto */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Garante que fique acima do vídeo */
  margin-bottom: 100px; /* Adiciona espaçamento abaixo */
}


/*---------------------------------------
  COUNTDOWN              
-----------------------------------------*/
.countdown {
  display: flex; /* Alinha os itens lado a lado */
  justify-content: space-between; /* Espaça os itens uniformemente */
  align-items: center; /* Centraliza verticalmente os itens */
  padding-left: 0; /* Remove o padding extra */
}

.countdown-title {
  color: var(--white-color);
  font-size: 1.5rem; /* Ajuste o tamanho do texto conforme necessário */
  margin-bottom: 10px; /* Espaçamento entre o título e o texto */
}

.countdown-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente o conteúdo */
  align-items: center; /* Centraliza horizontalmente o conteúdo */
  width: 45%; /* Define uma largura proporcional para cada item */
  min-height: 150px; /* Define uma altura mínima */
  text-align: center; /* Centraliza o texto */
}

.countdown-item:first-child {
  margin-top: -25px; /* Ajuste o valor para subir o botão */
}

.countdown-text {
  color: var(--section-bg-color);
  font-size: 1rem; /* Ajuste o tamanho do texto conforme necessário */
  font-style: italic;
}


/*---------------------------------------
  MODAL EMAIL FORM        
-----------------------------------------*/
.modal-content {
  background-color: var(--dark-color);
  border-radius: 0;
  position: relative;
}

.modal-content::after {
  content: "";
  background-color: var(--custom-btn-bg-color);
  border: 50px solid var(--secondary-color);
  border-radius: 100%;
  position: absolute;
  top: -100px;
  right: -120px;
  width: 250px;
  height: 250px;
  pointer-events: none;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 30px 40px;
}

.modal-header {
  background-color: var(--dark-color);
  border-radius: 0;
  border-bottom: 0;
  padding: 0;
}

.modal-body h2 {
  color: var(--white-color);
  font-size: var(--h4-font-size);
  position: relative;
  bottom: 30px;
}

.modal-header .btn-close {
  filter: brightness(0) invert(1);
  position: relative;
  z-index: 22;
  top: 20px;
  right: 20px;
  transition: all 0.3s;
}

.modal-header .btn-close:hover {
  transform: rotate(180deg);
}

.modal-body,
.modal-footer {
  position: relative;
  z-index: 2;
}

.modal-footer {
  border-top: 0;
  padding-top: 0;
}

.modal-footer p {
  font-size: var(--btn-font-size);
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  border-radius: var(--border-radius-large);
  border-width: 2px;
  box-shadow: none;
  color: var(--p-color);
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  outline: none;
}

.custom-form .form-control:focus,
.custom-form .form-control:hover {
  border-color: var(--primary-color);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-floating>label {
  padding-left: 20px;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--heading-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  transition: all 0.3s;
  margin-bottom: 0;
  padding-left: 10px;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

.custom-form .form-check-label {
  color: var(--p-color);
}

.contact-form .form-floating>textarea {
  border-radius: var(--border-radius-medium);
  height: 110px;
}

.login-form .custom-btn {
  font-family: var(--heading-font-family);
  padding: 10.25px 35px;
  font-size: var(--p-font-size);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0 0 0 250px;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  font-size: 1.5rem; /* Ajuste o tamanho do ícone */
  color: #fff; /* Cor dos ícones */
  margin: 0 10px; /* Espaçamento entre os ícones */
  text-decoration: none; /* Remove o sublinhado */
}

.social-icon-link:hover {
  color: #ccc; /* Cor ao passar o mouse */
}

.social-icon-link i {
  font-size: 1.5rem; /* Ajuste o tamanho do ícone */
  color: #fff; /* Cor dos ícones */
  margin: 0 10px; /* Espaçamento entre os ícones */
  text-decoration: none; /* Remove o sublinhado */
}

social-icon-link i:hover {
  color: #ccc; /* Cor ao passar o mouse */
}

.social-icon i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.bi-list {
  cursor: pointer;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 480px) {
  .site-header .social-icon {
    display: none !important;
  }

  .offcanvas-icon {
    margin-left: 10px;
  }

  .countdown-item {
    margin: 10px;
  }
}

.catalogo {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.customCatalogoButton {
    background: var(--custom-btn-bg-color);
    color: var(--white-color);
    border: none;
    padding: 10px 25px;
    border-radius: var(--border-radius-large);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: all 0.3s;
}

.customCatalogoButton:hover {
    background: var(--custom-btn-bg-hover-color);
}

.header-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.texto-destaque {
    font-size: 1.5rem; /* Ajuste o tamanho conforme necessário */
    font-weight: bold; /* Opcional: para destacar mais */
    margin-bottom: 40px; /* Adiciona espaçamento abaixo do texto */
}

.no-wrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
    margin-left: -20px; /* Ajuste o valor para mover mais à esquerda */
}

.custom-left {
    margin-left: -90px; /* Ajuste o valor para mover mais à esquerda */
    margin-top: 20px; /* Opcional: ajusta o espaçamento acima do nome da empresa */
}

.arrow-down {
    position: absolute;
    top: 85%; /* Move a seta mais para baixo */
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem; /* Aumenta significativamente o tamanho da seta */
    color: #FFD700; /* Torna a seta dourada */
    animation: bounce 1s infinite; /* Torna a animação mais rápida */
    cursor: pointer;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); /* Adiciona uma sombra mais forte */
    filter: drop-shadow(0 0 20px #FFD700); /* Adiciona um brilho dourado mais intenso */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px); /* Aumenta o movimento para cima */
    }
    60% {
        transform: translateY(-15px); /* Aumenta o movimento para baixo */
    }
}

.distro-logo {
    width: 96px; /* Ajuste o tamanho do ícone */
    height: 96px;
    margin-bottom: 15px; /* Espaçamento entre o ícone e a descrição */
}
.carousel-item {
    width: 100%; /* Ajusta a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    margin-left: 100px; /* Ajusta o espaçamento à esquerda */
}

.nome-distro{
  margin-right: 139px; /* Ajusta o espaçamento à direita */
}

.carousel-caption p {
    font-size: 1.2rem; /* Aumenta o tamanho do texto */
    color: #ffffff; /* Torna o texto mais visível */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Adiciona sombra para contraste */
    line-height: 1.6; /* Melhora o espaçamento entre linhas */
    margin-right: 130px;
}

ol {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 20px;
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
}

/* Lista de distribuições */
.distro-list {
    font-size: 1.5rem; /* Aumenta o tamanho do texto */
    color: #ffffff; /* Cor do texto */
    margin-top: 20px;
    padding-left: 0; /* Remove o padding padrão */
    list-style-position: inside; /* Centraliza os números da lista */
}

.distro-list li {
    margin-bottom: 15px; /* Espaçamento entre os itens */
}

.distro-list a {
    color: #E07A5F; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Torna o texto mais chamativo */
    transition: color 0.3s ease; /* Adiciona transição ao passar o mouse */
}

.distro-list a:hover {
    color: #F2CC8F; /* Cor ao passar o mouse */
}

/* Torna o fundo do carrossel transparente */
.carousel-inner {
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    border-radius: 10px; /* Bordas arredondadas (opcional) */
    padding: 20px; /* Espaçamento interno */
}

/* Torna as legendas do carrossel transparentes */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6); /* Fundo semitransparente para o texto */
    padding: 15px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    color: #ffffff; /* Cor do texto */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombra para contraste */
}

/* Torna a seção do carrossel e listas completamente transparente */
#catalog-section {
    background-color: transparent; /* Remove qualquer fundo sólido */
    padding: 100px 20px 20px; /* Adiciona espaçamento superior */
    color: #ffffff; /* Cor do texto */
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombra para contraste */
    border: 80px; /* Remove bordas */
    position: relative; /* Garante que a seção esteja posicionada corretamente */
    z-index: 1; /* Coloca a seção acima do vídeo */
}

/* Classe global para tornar a logo redonda */
.logo-round {
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Torna a imagem redonda */
    object-fit: cover; /* Garante que a imagem se ajuste ao contêiner */
}
